<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Rating System</title>
</head>
<body>
    <header>
        <h1>Professor Rating System</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                
                {% if user.is_authenticated %}
                    <!-- If the user is logged in, show these options -->
                    <li><a href="{% url 'student_page' %}">Student Page</a></li>
                    <li><a href="{% url 'student_home' %}">View Module Instances</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <!-- If the user is not logged in, show these options -->
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Professor Rating System</p>
    </footer>
</body>
</html>
